<div class="rounded-2x1 p-10 shadow-sm">
    <h2 class="mb-6 text-2xl font-bold text-slate-800">Crear área</h2>

    <form [formGroup]="areaForm" (ngSubmit)="submit()" class="space-y-4">
        <div>
            <label class="mb-1 block text-sm font-medium text-slate-700">Departamento</label>
            <select formControlName="departmentId" class="w-full rounded-lg border px-3 py-2"
                [class.border-red-500]="f.departmentId.touched && f.departmentId.invalid"
                [class.border-slate-300]="!(f.departmentId.touched && f.departmentId.invalid)">
                <option [value]="0">Seleccione un departamento</option>
                @for (department of departments; track department.id) {
                <option [value]="department.id">{{ department.name }}</option>
                }
            </select>

            @if (f.departmentId.touched && f.departmentId.errors?.['min']) {
            <p class="mt-1 text-sm text-red-600">Debe seleccionar un departamento.</p>
            }
        </div>

        <div>
            <label class="mb-1 block text-sm font-medium text-slate-700">Nombre del área</label>
            <input type="text" formControlName="name" class="w-full rounded-lg border px-3 py-2"
                [class.border-red-500]="f.name.touched && f.name.invalid"
                [class.border-slate-300]="!(f.name.touched && f.name.invalid)" />

            @if (f.name.touched && f.name.errors?.['required']) {
            <p class="mt-1 text-sm text-red-600">El nombre del área es obligatorio.</p>
            }
        </div>

        @if (errorMessage) {
        <p class="text-sm text-red-600">{{ errorMessage }}</p>
        }

        @if (successMessage) {
        <p class="text-sm text-green-600">{{ successMessage }}</p>
        }

        <button type="submit" [disabled]="isSubmitting" class="inset-ring-2 px-4 py-2 text-sm font-mono cursor-pointer">
            Guardar área
        </button>
    </form>
</div>